[Desktop Entry]
Name=VGRE Dashboard
Comment=Virtual GPU Runtime Engine Dashboard
Exec=/home/umwami/Desktop/GPUemulator/virtual-gpu-runtime/vgre_dashboard/build/linux/x64/release/bundle/vgre_dashboard
Icon=/home/umwami/Desktop/GPUemulator/virtual-gpu-runtime/vgre_dashboard/assets/icon.png
Terminal=false
Type=Application
Categories=Development;System;
